.navbar-brand {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 1rem;
    font-size: 200px;
}

body {
    background-color: lightpink;
}

.container {
    padding-top: 10px;
    padding-bottom: 10px;
}








